/* body {
    align-items: center;
    display: flex;
    font-family: Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
  }
  body div {
    font-size: 15px;
    margin-top: 15px;
    text-align: center; */
  /* } */
h6.card-title {
  font-size: 1em !important;
}
span.card-title {
  font-variant: small-caps slashed-zero !important; 
}
.listSection {
  resize: horizontal;
  width: 200px;
  height: 200px;
}
.journalSection {
  resize: horizontal;
  width: 200px;
  height: 200px;
}
  .smiley-container {
    margin-top: 50px;
  }
  body {
    min-height: 100%;
  }
  html {
    min-height: 100%;
  }
  form#smileys input[type="radio"] {
    -webkit-appearance: none;
    width: 90px;
    height: 90px;
    border: none;
    cursor: pointer;
    transition: border 0.2s ease;
    filter: grayscale(100%);
    margin: 0 5px;
    transition: all 0.2s ease;
  }
  form#smileys input[type="radio"]:hover, form#smileys input[type="radio"]:checked + span {
    filter: grayscale(0);
  }
  form#smileys input[type="radio"]:focus {
    outline: 0;
  }
  form#smileys input[type="radio"].happy + span {
    background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg') center;
    background-size: cover;
    height: 100px;
    width: 100px;
    opacity: 1;
  }
  form#smileys input[type="radio"].happy + span:before, form#smileys input[type="radio"].neutral + span::before, form#smileys input[type="radio"].sad + span:before {
    visibility: hidden;
    
  }
  form#smileys input[type="radio"].neutral + span {
    background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/neutral_t3q8hz.svg') center;
    background-size: cover;

    height: 100px;
    width: 100px;
    opacity: 1;
  }

  form#smileys input[type="radio"].sad + span {
    background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg') center;
    background-size: cover;
  
    height: 100px;
    width: 100px;
    opacity: 1;
  }


  